# Constraint 1 between NMN and FAD
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: C7 C9 C5
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: N5 C14 C17
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    2.7   0.40  50.00  0
CST::END

# Constraint 2 between NMN and FAD
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: C5 C7 C9
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: C14 N5 C17
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    3.2   0.30  50.00  0
CST::END

# Constraint 3 between NMN and FAD
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: C9 C7 C5
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: C17 N5 C14
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    3.0   0.30  50.00  0
CST::END

# Constraint 4 between NMN and FAD
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: N1 C3 C5
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: N9 C27 C14
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    3.8   0.30  50.00  0
CST::END

# Constraint between Ala 297 and FAD
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: N CA C
  TEMPLATE::   ATOM_MAP: 1 residue1: A

  TEMPLATE::   ATOM_MAP: 2 atom_name: N1 C7 O9
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    2.7   0.10  500.00  0
CST::END

# Constraint between Val 79 and FAD
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: N CA O
  TEMPLATE::   ATOM_MAP: 1 residue1: V

  TEMPLATE::   ATOM_MAP: 2 atom_name: N2 C19 N6
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    2.9   0.30  500.00  0
  CONSTRAINT:: angle_B:    120.0  25.0   100.0   360
CST::END

# Constraint between His 10 and FAD
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: N CA C
  TEMPLATE::   ATOM_MAP: 1 residue1: H

  TEMPLATE::   ATOM_MAP: 2 atom_name: O1 P1 O3
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:  3.1   0.40  500.00  0
  CONSTRAINT:: angle_B: 120.0  25.0   100.0   360
CST::END

# Constraint between Glu 326 and NMN
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: O C CA
  TEMPLATE::   ATOM_MAP: 1 residue1: G

  TEMPLATE::   ATOM_MAP: 2 atom_name: N2 C11 O8
  TEMPLATE::   ATOM_MAP: 2 residue3: X00

  CONSTRAINT:: distanceAB:    3.2   0.30  500.00  0
  CONSTRAINT:: angle_B:    120.0  20.0   100.0   360
CST::END
